body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar input {
    padding: 5px;
    width: 200px;
}

.search-bar button {
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    display: flex;
}

.navbar {
    width: 10%;
    background-color: #f4f4f4;
    padding: 20px;
}

.navbar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

.navbar a:hover {
    background-color: #ddd;
}

.catalog {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.product img {
    max-width: 100%;
    height: auto;
}

.rating {
    margin: 10px 0;
    font-size: 20px;
    color: #f39c12; /* Cor dourada para as estrelas */
    align-self: flex-start; /* Alinha as estrelas à esquerda */
}

.nameProduto {
    margin: 10px 0;
    font-size: 20px;
    align-self: flex-start; /* Alinha as estrelas à esquerda */
}

.product-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.product-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.description {
    display: none;
    margin-top: 10px;
    text-align: center;
}

.categoriaProduto {
    display: none;
}

.product-actions .expand {
    font-size: 24px;
}

/* Adiciona box-shadow ao passar o mouse sobre o produto */
.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 1200px) {
    .product {
        width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .catalog {
        width: 100%;
        margin-top: 20px;
    }
    .product {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .product {
        width: calc(100% - 40px);
    }
}
